navbar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;

    height: 80px;
    width: 100%;


    
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.55rem;
    text-decoration: none;
    white-space: nowrap;
}

.bg-dark {
    background-color: #264d60 !important;
}

.nav-item {

    font-size: 125%;
}
.nav-item:hover {


    border-radius: 10px;
    background-color:rgb(207, 191, 191);
    
}


.container {
    max-width: 960px;
  }

  .btn-primary {
    /* color: #fff;
    background-color: #264d60;
    border-color: #264d60;
    border-radius: 10px; */

    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 18px;
    border-color: #264d60;
    color: #264d60;
}

.text-primary {
    --bs-text-opacity: 1;
    color: #333 !important;
}


.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #333 !important;
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 95%;
}